@import "easyui-reset.css";

body {
    font-family: Comfortaa, source sans pro, Ubuntu, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Source Han Sans CN, Source Han Sans SC, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, Arial, sans-serif !important;
    background: #fcfcfc;
}

.sc-container {
    width: 100%;
    height: 500px;
}

.sc-nav {
    width: 100%;
    height: 42px;
}

.sc-left-menu {
    width: 15%;
    height: 600px;
}

.sc-content {
    margin-left: 1%;
    width: 79%;
}

.pd-10 {
    padding: 10px;
}

#content .logo {
    margin-left: 5px;
    height: 40px;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    float: left;
    text-align: center;
}


#content .logo a {
    transition: all .8s;
    color: #666;
    font-weight: 900;
}

#content .logo a:hover {
    color: #333;
    text-shadow: 0 0 2px #fff;
}

#content .toolbar {
    float: right;
    margin-right: 5px;
    height: 40px;
    line-height: 40px;
}

#content .toolbar span {
    font-weight: 400;
    opacity: .8;
    margin: 0 8px;
    font-size: 12px;
}

#content .toolbar span:hover,
#content .toolbar a:hover {
    color: #333;
}

#content .logo .icon-saomiao {
    font-size: 20px !important;
}

/*内容部分内边距*/
#sc-tabs .tabs-panels {
    padding: 5px;
}